<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>test</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
  <nav class="nav">
      <h1>实时排名情况</h1>
      <aside>自动刷新ing</aside>
    </nav>
  <div class="container">
    
    <!--<div class="list">
      <div class="avator"></div>
      <div class="progress">
        <div class="name">
          队伍名
        </div>
        <div class="L1">
          <div class="point" style="width:20%"></div>
        </div>
        <div class="L2">
          <div class="point" style="width:20%"></div>
        </div>
        <div class="award">
          <div class="point" style="width:20%"></div>
        </div>
      </div>
    </div>-->
    

  </div>
  <hr />
  <footer class="footer">
    by can2</br>
    <a href="https://github.com/Can2Nya">https://github.com/Can2Nya</a>
  </footer>
  <script type="text/javascript" src="/javascripts/jquery-2.0.0.min.js"></script>
  <script type="text/javascript" src="/javascripts/index.js">
  </script>
</body>
</html>